* text=auto !eol
db-api/pom.xml -text
db-api/src/main/java/uk/ac/ceh/components/datastore/DataAuthor.java -text
db-api/src/main/java/uk/ac/ceh/components/datastore/DataRepository.java -text
db-api/src/main/java/uk/ac/ceh/components/datastore/DataRepositoryException.java -text
db-api/src/main/java/uk/ac/ceh/components/datastore/DataRevision.java -text
db-api/src/main/java/uk/ac/ceh/components/datastore/DataSubmissionListener.java -text
db-git/pom.xml -text
db-git/src/main/java/uk/ac/ceh/components/datastore/git/GitAuthorResolver.java -text
db-git/src/main/java/uk/ac/ceh/components/datastore/git/GitDataRepository.java -text
db-git/src/main/java/uk/ac/ceh/components/datastore/git/GitDataRevision.java -text
/pom.xml -text
