* text=auto !eol
datastore-api/pom.xml -text
datastore-api/src/main/java/uk/ac/ceh/components/datastore/DataAuthor.java -text
datastore-api/src/main/java/uk/ac/ceh/components/datastore/DataRepository.java -text
datastore-api/src/main/java/uk/ac/ceh/components/datastore/DataRepositoryException.java -text
datastore-api/src/main/java/uk/ac/ceh/components/datastore/DataRevision.java -text
datastore-api/src/main/java/uk/ac/ceh/components/datastore/DataSubmissionListener.java -text
datastore-git/pom.xml -text
datastore-git/src/main/java/uk/ac/ceh/components/datastore/git/GitAuthorResolver.java -text
datastore-git/src/main/java/uk/ac/ceh/components/datastore/git/GitDataRepository.java -text
datastore-git/src/main/java/uk/ac/ceh/components/datastore/git/GitDataRevision.java -text
/pom.xml -text
tokengeneration-api/pom.xml -text
tokengeneration-api/src/main/java/uk/ac/ceh/components/tokengeneration/ExpiredTokenException.java -text
tokengeneration-api/src/main/java/uk/ac/ceh/components/tokengeneration/InvalidTokenException.java -text
tokengeneration-api/src/main/java/uk/ac/ceh/components/tokengeneration/Token.java -text
tokengeneration-api/src/main/java/uk/ac/ceh/components/tokengeneration/TokenGenerator.java -text
tokengeneration-stateless/pom.xml -text
tokengeneration-stateless/src/main/java/uk/ac/ceh/components/tokengeneration/stateless/StatelessTokenGenerator.java -text
tokengeneration-stateless/src/main/java/uk/ac/ceh/components/tokengeneration/stateless/StatelessTokenKeyContainer.java -text
tokengeneration-stateless/src/main/java/uk/ac/ceh/components/tokengeneration/stateless/StatelessTokenKeystoreManager.java -text
tokengeneration-stateless/src/main/java/uk/ac/ceh/components/tokengeneration/stateless/StatelessTokenKeystoreManagerException.java -text
