/build-number.txt
datastore-api/target
datastore-git/target
/target
token-authentication-api/target
token-authentication-crowd/target
token-generation-api/target
/token-generation-stateless
token-generation-stateless/target
tokengeneration-stateless/target
