* text=auto !eol
db-api/pom.xml -text
db-api/pom.xml.releaseBackup -text
db-api/src/main/java/uk/org/ukeof/db/DataAuthor.java -text
db-api/src/main/java/uk/org/ukeof/db/DataRepository.java -text
db-api/src/main/java/uk/org/ukeof/db/DataRepositoryException.java -text
db-api/src/main/java/uk/org/ukeof/db/DataRevision.java -text
db-api/src/main/java/uk/org/ukeof/db/DataSubmissionListener.java -text
db-api/target/classes/uk/org/ukeof/db/DataAuthor.class -text
db-api/target/classes/uk/org/ukeof/db/DataRepository.class -text
db-api/target/classes/uk/org/ukeof/db/DataRepositoryException.class -text
db-api/target/classes/uk/org/ukeof/db/DataRevision.class -text
db-api/target/classes/uk/org/ukeof/db/DataSubmissionListener.class -text
db-api/target/db-api-0.1.jar -text
db-api/target/maven-archiver/pom.properties -text
db-git/pom.xml -text
db-git/pom.xml.releaseBackup -text
db-git/src/main/java/uk/org/ukeof/db/git/GitAuthorResolver.java -text
db-git/src/main/java/uk/org/ukeof/db/git/GitDataRepository.java -text
db-git/src/main/java/uk/org/ukeof/db/git/GitDataRevision.java -text
db-git/target/classes/uk/org/ukeof/db/git/GitAuthorResolver.class -text
db-git/target/classes/uk/org/ukeof/db/git/GitDataRepository.class -text
db-git/target/classes/uk/org/ukeof/db/git/GitDataRevision.class -text
db-git/target/db-git-0.1.jar -text
db-git/target/maven-archiver/pom.properties -text
/pom.xml -text
